ion-header {
  ion-icon {
    font-size: 1rem;
  }
  ion-title {
    font-weight: bold;
  }
}
.large-thumbnail {
  width: 150px;
  height: 150px;
}

.slide-container {
  height: 40%; /* set a fixed height */
  margin: 20px;
  border-radius: 5px;
}
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .slide-image {
    display: cover;
    object-position: center;
    width: stretch;
  }
  .slide-container {
    height: 50%; /* set a fixed height */
    margin: 20px;
    border-radius: 5px;
  }
}
